# Gradle
.gradle/
build/
**/build/
!gradle/wrapper/gradle-wrapper.jar

# Kotlin
.kotlin/

# Android
local.properties
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab

# IntelliJ IDEA / Android Studio
.idea/
*.iml
out/

# VS Code
.vscode/

# Eclipse
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/
bin/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Operating systems
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp
